<!DOCTYPE html>
<html>
<title>CUK</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}


.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
}
</style>
<body>
 
<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Cerrar</a>
  <a  onclick="location.href = 'index'" class="w3-bar-item w3-button">Inicio</a>
  {%if usuario!= None%}
  <a href="#recetas" onclick="location.href = 'recetas'" class="w3-bar-item w3-button">Recetas</a>
  {%endif%}
  
  {%if tipo== "Administrador" %}
  <a href="#aboutus" onclick="w3_close()" class="w3-bar-item w3-button">Reportes</a>
  {%endif%}
  {%if usuario != None%}
  <a onclick="location.href = 'perfil'" class="w3-bar-item w3-button">Editar Perfil</a>
  {%endif%}
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
    {% if usuario == None %}
    <div  class="w3-button w3-right w3-padding-16" onclick="location.href = 'login'">Login</div>  
    {% endif %}
    {% if usuario != None %}
    <div  class="w3-button w3-right w3-padding-16" onclick="location.href = 'logout'">Cerrar Sesion</div>  
    {% endif %}

    <div class="w3-center w3-round-xxlarge"><a> <img src="https://i.ibb.co/xLPmkh4/Captura-de-pantalla-177.png" width="150" class="w3-center w3-round-xlarge" height="73" alt="Captura-de-pantalla-177"></a>
    </div>
  </div>
</div>

<!-- !PAGE CONTENT! -->

<div class="  w3-card-4 w3-col l2 s4 w3-orange w3-padding-32 w3-margin-left"style="margin-top:100px" >  
    <div id="grad1" >
       
        <div class="w3-center " >
          <div class="w3-xlarge  w3-center w3-text-black"> 
            <b>
             Bienvenido {{usuario.usuario}}
            </b> 
            
            <h5><i><b> {{usuario.tipo}} </b></i></h5>
        
          </div> 
          <div class="w3-padding-16" >
      <img src="{{usuario.foto}}" alt="foto" class="w3-card w3-round-xxlarge w3-image "  width="200" height="100"></img>
    </div>
      <div >
      <button class="w3-button w3-block w3-amber w3-hover-deep-orange w3-padding-32 w3-large"
      onclick="mostrarUsuarios()"><b>Usuarios</b></button>
    </div>
    <div  >
        <button class="w3-button w3-block w3-orange w3-hover-deep-orange w3-padding-32 w3-large"
        onclick="mostrarRecetas()"><b>Recetas Publicadas</b></button>
      </div>
      <div  >
        <button class="w3-button w3-card w3-block w3-amber w3-hover-deep-orange w3-padding-32 w3-large"
        onclick="mostrarRegistro()"><b>Registrar Admins</b></button>
      </div>
      <div  >
        <button class="w3-button w3-card w3-block w3-orange w3-hover-deep-orange w3-padding-32 w3-large"
        onclick="mostrarReacciones()"><b>Reacciones</b></button>
      </div>
  </div>
  </div>
</div>


<div class=" w3-padding-32 w3-col s6 w3-white w3-containter " id="contenedor" style="margin-top:100px;display:block;margin-left:200px;">
    <div class=" w3-white s6 w3-center w3-margin-left" id="usuarios" style="display:block;margin-top:10px;margin-bottom:500px;margin-left:700px;">
      <!--tabla de usuarios-->  
      <div class="w3-container w3-center ">
      <table class="egt,  w3-xxlarge w3-container ">
        <div class="w3-center w3-text-orange"><caption>Usuarios registrados</caption></div>
        <tr class="w3-card w3-orange w3-round w3-center">
      
          <th><div class="w3-center w3-deep-orange w3-margin-left-32">Tipo</div></th>
      
          <th><div class="w3-center w3-deep-orange w3-margin-left-32">Foto</div></th>
      
          <th><div class="w3-center w3-deep-orange w3-margin-left-32">Nombre</div></th>
          
          <th><div class="w3-center w3-deep-orange w3-margin-left-32">Apellido</div></th>

          <th><div class="w3-center w3-deep-orange w3-margin-left-32">Usuario</div></th>

        </tr>
        {% for usuario in usuarios%}
        <tbody style="background: lightpink; border: 1px solid rgba(200, 100, 0, 0.3);">
        <tr>
          
          <td><div class="w3-center w3-padding-16 w3-margin-left-32 w3-margin-rigth">&nbsp;&nbsp;&nbsp;{{usuario.tipo}}&nbsp;&nbsp;&nbsp;</div></td>
      
          <td>&nbsp;&nbsp;&nbsp;<img src="{{usuario.foto}}" alt="foto" class="w3-round-xxlarge w3-card w3-image  w3-margin-left-32 w3-margin-rigth "  width="50" height="50"></img>&nbsp;&nbsp;&nbsp;</td>
      
          <td>&nbsp;&nbsp;&nbsp;{{usuario.nombre}}&nbsp;&nbsp;&nbsp;</td>
      
          <td>&nbsp;&nbsp;&nbsp;{{usuario.apellido}}&nbsp;&nbsp;&nbsp;</td>
          
          <td>&nbsp;&nbsp;&nbsp;({{usuario.usuario}})&nbsp;&nbsp;&nbsp;</td>
         
        </tr>
      </tbody>
      {%endfor%}
      
      </table>
    </div>
    </div>

    <div class=" w3-white s8 w3-left-align w3-margin-left w3-margin-rigth" id="rec_pub" style="display:none;margin-top:75px;margin-bottom:500px;">
            <!--tabla de recetas-->  
      <div class="w3-container w3-center w3-block">
        <input type="file" id="fileChooser" style="display: none;" />
        <button class="w3-button w3-section w3-center w3-teal w3-ripple w3-padding"
          onclick="cargarArchivo(fileChooser)">Cargar
          archivo</button>
        <a class="w3-button w3-center w3-section w3-teal w3-ripple w3-padding" href="/report">Descargar reporte</a>
        <table class="egt,  w3-xxlarge w3-container w3-block">
          <div class="w3-center w3-text-deep-orange"><caption>Recetas Publicadas</caption></div>
          <tr class=" w3-center">
        
            <th><div class="w3-center w3-deep-orange w3-round w3-margin-left-32">Titulo</div></th>
        
            
        
            <th><div class="w3-center  w3-deep-orange w3-round w3-margin-left-32">Autor</div></th>
            <th><div class="w3-center w3-deep-orange w3-margin-left-32">&nbsp;</div></th>
            <th><div class="w3-center w3-deep-orange w3-margin-left-32">&nbsp;</div></th>
            <th><div class="w3-center w3-deep-orange w3-margin-left-32">&nbsp;</div></th>
          </tr>
          {% for receta in recetas%}
          <tbody style="background: orange; border: 1px solid rgba(200, 100, 0, 0.3);">
          <tr>
            
            <td><div class="w3-center w3-padding-16 w3-margin-left-32 w3-margin-rigth">&nbsp;&nbsp;&nbsp;{{receta.titulo}}&nbsp;&nbsp;&nbsp;</div></td>
        
            <td class="w3-ligth-gray">&nbsp;&nbsp;&nbsp;{{receta.autor}}&nbsp;&nbsp;&nbsp;</td>
        
            <th><button onclick="location.href = 'modificarReceta/{{receta.index}}'" class="w3-medium w3-button w3-orange w3-text-black w3-center w3-hover-green w3-margin-left-32">Editar</button></th>
            <th><button onclick="location.href = 'verComentarios/{{receta.index}}'" class="w3-medium w3-button w3-orange w3-text-black w3-center w3-hover-green w3-margin-left-32">Ver Comentarios</button></th>
            <th><button onclick="location.href = 'eliminarReceta/{{receta.index}}'" class="w3-button w3-medium w3-center w3-black w3-text-white w3-hover-red w3-margin-left-32">Eliminar</button>
            </th>
          </tr>
        </tbody>
        {%endfor%}
        </table>
      </div>
    </div>

    <div class=" w3-white s8 w3-left-align w3-margin-left" id="regis_admin" style="display:none;margin-top:100px;">
              <div class="w3-center w3-container w3-card-4 w3-black w3-text-black  " >
                  <header class="w3-deep-orange">
                      <h2>Registrar Administrador</h2>
                    </header>
                  <div class=" w3-section">
                    
                   <p>
                    <input class="w3-input " id="admin_nombre" type="text" placeholder="Nombre"></input>
                   </p>
                    <p>
                      <input class="w3-input " id="admin_apellido" type="text" placeholder="Apellido"></input>
                    </p> 
                    <p>
                      <input class="w3-input " id="admin_usuario" type="text" placeholder="Nombre de Usuario"></input> 
                     </p>
                     <p>
                      <input class="w3-input " id="admin_contraseña" type="text" placeholder="Contraseña"></input>
                     </p>
                     <p>
                      <input class="w3-input " id="admin_confirmacion" type="text" placeholder="Confirmar contraseña"></input>
                     </p>
                      <button class="w3-button w3-section w3-black w3-hover-green w3-padding"
                      onclick="crear_admin()">¡Crear!</button>
                    </p>
              </div>
            </div>  
    </div>
 
    <div class=" w3-white s8 w3-left-align w3-margin-left" id="reacciones" style="display:none;margin-top:100px;margin-bottom:1000px;">
        reacciones
    </div>
</div>
 


  <!-- Footer -->
  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
        <h4>CUCK 2020 - Todos los derechos reservados</h4>
    </div>

    <div class="w3-container w3-theme-l1">
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
</footer>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

function mostrarUsuarios() {
  document.getElementById("contenedor").style.display = "block";
  document.getElementById("usuarios").style.display = "block";
  document.getElementById("rec_pub").style.display = "none";
 
  document.getElementById("regis_admin").style.display = "none";
  document.getElementById("reacciones").style.display = "none";
}

function mostrarRecetas() {
  document.getElementById("contenedor").style.display = "block";
  document.getElementById("usuarios").style.display = "none";
  document.getElementById("rec_pub").style.display = "block";
 
  document.getElementById("regis_admin").style.display = "none";
  document.getElementById("reacciones").style.display = "none";
}

function mostrarRegistro() {
  document.getElementById("contenedor").style.display = "block";
  document.getElementById("usuarios").style.display = "none";
  document.getElementById("rec_pub").style.display = "none";
  
  document.getElementById("regis_admin").style.display = "block";
  document.getElementById("reacciones").style.display = "none";
}

function mostrarReacciones() {
  document.getElementById("contenedor").style.display = "block";
  document.getElementById("usuarios").style.display = "none";
  document.getElementById("rec_pub").style.display = "none";
 
  document.getElementById("regis_admin").style.display = "none";
  document.getElementById("reacciones").style.display = "block";
}


function crear_admin(){
  let nombre= document.getElementById('admin_nombre').value;
  let apellido= document.getElementById('admin_apellido').value;
  let usuario= document.getElementById('admin_usuario').value;
  let contraseña= document.getElementById('admin_contraseña').value;
  let confirmacion= document.getElementById('admin_confirmacion').value;    
        
      
      let datos = {
        nombre:nombre,
        apellido:apellido,
        usuario:usuario,
        contraseña:contraseña,
        confirmacion:confirmacion
      }
      
      let opciones = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(datos)
      }

      fetch('/addAdmin', opciones).then((res) =>
      {
        res.json().then((data) =>
        {
          location.reload();
        });
      });

}
      
var fileChooser = document.getElementById('fileChooser');
  if (fileChooser)
    fileChooser.addEventListener("change", subirArchivo)

  function subirArchivo()
  {
    let reader = new FileReader();

    reader.onload = function ()
    {
      let datos = {
        data: reader.result.replace('data:', '')
          .replace(/^.+,/, '')
      }
      fetch('/cargarArchivo', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(datos)
      }).then(res =>
      {
        location.reload();
      });
    }

    reader.onerror = function (error)
    {
      console.log('Error: ', error);
    };

    reader.readAsDataURL(fileChooser.files[0]);
  }

  function cargarArchivo(input)
  {
    input.click();
  }      
</script>

</body>
</html>