<!DOCTYPE html>
<html>
<title>Mi Primer Pagina</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}


.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
}
</style>
<body>
 
<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Cerrar</a>
  {%if usuario!= None%}
  <a href="#recetas" onclick="location.href = 'recetas'" class="w3-bar-item w3-button">Recetas</a>
  {%endif%}
  
  <a href="#aboutus" onclick="w3_close()" class="w3-bar-item w3-button">Acerca de Nosotros</a>
  {%if tipo== "Administrador" %}
  <a href="#aboutus" onclick="w3_close()" class="w3-bar-item w3-button">Reportes</a>
  {%endif%}
  {%if usuario != None%}
  <a onclick="location.href = 'perfil'" class="w3-bar-item w3-button">Editar Perfil</a>
  {%endif%}
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
    {% if usuario == None %}
    <div  class="w3-button w3-right w3-padding-16" onclick="location.href = 'login'">Login</div>  
    {% endif %}
    {% if usuario != None %}
    <div  class="w3-button w3-right w3-padding-16" onclick="location.href = 'logout'">Cerrar Sesion</div>  
    {% endif %}

    <div class="w3-center w3-round-xxlarge"><a> <img src="https://i.ibb.co/xLPmkh4/Captura-de-pantalla-177.png" width="150" class="w3-center w3-round-xlarge" height="73" alt="Captura-de-pantalla-177"></a>
    </div>
  </div>
</div>

<!-- !PAGE CONTENT! -->

<div class="  w3-card-4 w3-col l2 s4 w3-orange w3-padding-32 w3-margin-left"style="margin-top:100px" >  
    <div id="grad1" >
       
        <div class="w3-center " >
          <div class="w3-xlarge  w3-center w3-text-black"> 
            <b>
             Bienvenido {{usuario.usuario}}
            </b> 
            
            <h5><i><b> {{usuario.tipo}} </b></i></h5>
        
          </div> 
          <div class="w3-padding-16" >
      <img src="{{usuario.foto}}" alt="foto" class="w3-card w3-round-xxlarge w3-image "  width="200" height="100"></img>
    </div>
      <div >
      <button class="w3-button w3-block w3-amber w3-hover-deep-orange w3-padding-32 w3-large"
      onclick="mostrarUsuarios()"><b>Usuarios</b></button>
    </div>
    <div  >
        <button class="w3-button w3-block w3-orange w3-hover-deep-orange w3-padding-32 w3-large"
        onclick="mostrarRecetas()"><b>Recetas Publicadas</b></button>
      </div>
      <div  >
        <button class="w3-button w3-card w3-block w3-amber w3-hover-deep-orange w3-padding-32 w3-large"
        onclick="mostrarCarga()"><b>Cargar Recetas</b></button>
      </div>
      <div  >
        <button class="w3-button w3-card w3-block w3-orange w3-hover-deep-orange w3-padding-32 w3-large"
        onclick="mostrarRegistro()"><b>Registrar Admins</b></button>
      </div>
      <div  >
        <button class="w3-button w3-card w3-block w3-amber w3-hover-deep-orange w3-padding-32 w3-large"
        onclick="mostrarReacciones()"><b>Reacciones</b></button>
      </div>
  </div>
  </div>
</div>


<div class=" w3-padding-32 w3-col s6 w3-white w3-containter " id="contenedor" style="margin-top:100px;display:none;margin-left:200px;">
    <div class=" w3-white s6 w3-center w3-margin-left" id="usuarios" style="margin-top:10px;margin-bottom:500px;margin-left:700px;">
      <!--tabla de usuarios-->  
      <div class="w3-container w3-center w3-block">
      <table class="egt,  w3-xxlarge w3-container w3-block">
        <div class="w3-center w3-text-orange"><caption>Usuarios registrados</caption></div>
        <tr class="w3-card w3-orange w3-round w3-center">
      
          <th><div class="w3-center w3-margin-left-32">Tipo</div></th>
      
          <th><div class="w3-center w3-margin-left-32">Foto</div></th>
      
          <th><div class="w3-center w3-margin-left-32">Nombre</div></th>
          
          <th><div class="w3-center w3-margin-left-32">Apellido</div></th>

          <th><div class="w3-center w3-margin-left-32">Usuario</div></th>

        </tr>
        {% for usuario in usuarios%}
      
        <tr>
          
          <td><div class="w3-center w3-padding-32 w3-margin-left-32 w3-margin-rigth">&nbsp;&nbsp;&nbsp;{{usuario.tipo}}&nbsp;&nbsp;&nbsp;</div></td>
      
          <td>&nbsp;&nbsp;&nbsp;<img src="{{usuario.foto}}" alt="foto" class="w3-round-xxlarge w3-card w3-image  w3-margin-left-32 w3-margin-rigth "  width="50" height="50"></img>&nbsp;&nbsp;&nbsp;</td>
      
          <td>&nbsp;&nbsp;&nbsp;{{usuario.nombre}}&nbsp;&nbsp;&nbsp;</td>
      
          <td>&nbsp;&nbsp;&nbsp;{{usuario.apellido}}&nbsp;&nbsp;&nbsp;</td>
          
          <td>&nbsp;&nbsp;&nbsp;({{usuario.usuario}})&nbsp;&nbsp;&nbsp;</td>
         
        </tr>
      
      {%endfor%}
      
      </table>
    </div>
    </div>

    <div class=" w3-white s8 w3-left-align w3-margin-left w3-margin-rigth" id="rec_pub" style="margin-top:75px;margin-bottom:500px;">
            <!--tabla de recetas-->  
      <div class="w3-container w3-center w3-block">
        <table class="egt,  w3-xxlarge w3-container w3-block">
          <div class="w3-center w3-text-orange"><caption>Recetas Publicadas</caption></div>
          <tr class="w3-card w3-orange w3-round w3-center">
        
            <th><div class="w3-center w3-margin-left-32">Titulo</div></th>
        
            
        
            <th><div class="w3-center w3-margin-left-32">Autor</div></th>
            <th><div class="w3-center w3-margin-left-32"></div></th>
            <th><div class="w3-center w3-margin-left-32"></div></th>
  
          </tr>
          {% for receta in recetas%}
        
          <tr>
            
            <td><div class="w3-center w3-padding-32 w3-margin-left-32 w3-margin-rigth">&nbsp;&nbsp;&nbsp;{{receta.titulo}}&nbsp;&nbsp;&nbsp;</div></td>
        
         
        
            <td>&nbsp;&nbsp;&nbsp;{{receta.autor}}&nbsp;&nbsp;&nbsp;</td>
        
            <th><button class="w3-button w3-orange w3-text-black w3-center w3-hover-green w3-margin-left-32">Editar</button></th>
  
            <th><button class="w3-button w3-center w3-black w3-text-white w3-hover-red w3-margin-left-32">Eliminar</button></th>
           
          </tr>
        
        {%endfor%}
        
        </table>
      </div>
    </div>
    <div class=" w3-white s8 w3-left-align w3-margin-left w3-margin-rigth" id="carg_recetas" style="margin-top:100px;margin-bottom:1000px;">
        carga de recetas
    </div>
    <div class=" w3-white s8 w3-left-align w3-margin-left" id="regis_admin" style="margin-top:100px;margin-bottom:1000px;">
        registro admins
    </div>
    <div class=" w3-white s8 w3-left-align w3-margin-left" id="reacciones" style="margin-top:100px;margin-bottom:1000px;">
        reacciones
    </div>
</div>
  </div>


  <!-- Footer -->
  <footer id="myFooter">
    <div class="w3-container w3-theme-l2 w3-padding-32">
        <h4>CUCK 2020 - Todos los derechos reservados</h4>
    </div>

    <div class="w3-container w3-theme-l1">
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
</footer>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

function mostrarUsuarios() {
  document.getElementById("contenedor").style.display = "block";
  document.getElementById("usuarios").style.display = "block";
  document.getElementById("rec_pub").style.display = "none";
  document.getElementById("carg_recetas").style.display = "none";
  document.getElementById("regis_admin").style.display = "none";
  document.getElementById("reacciones").style.display = "none";
}

function mostrarRecetas() {
  document.getElementById("contenedor").style.display = "block";
  document.getElementById("usuarios").style.display = "none";
  document.getElementById("rec_pub").style.display = "block";
  document.getElementById("carg_recetas").style.display = "none";
  document.getElementById("regis_admin").style.display = "none";
  document.getElementById("reacciones").style.display = "none";
}

function mostrarCarga() {
  document.getElementById("contenedor").style.display = "block";
  document.getElementById("usuarios").style.display = "none";
  document.getElementById("rec_pub").style.display = "none";
  document.getElementById("carg_recetas").style.display = "block";
  document.getElementById("regis_admin").style.display = "none";
  document.getElementById("reacciones").style.display = "none";
}

function mostrarRegistro() {
  document.getElementById("contenedor").style.display = "block";
  document.getElementById("usuarios").style.display = "none";
  document.getElementById("rec_pub").style.display = "none";
  document.getElementById("carg_recetas").style.display = "none";
  document.getElementById("regis_admin").style.display = "block";
  document.getElementById("reacciones").style.display = "none";
}

function mostrarReacciones() {
  document.getElementById("contenedor").style.display = "block";
  document.getElementById("usuarios").style.display = "none";
  document.getElementById("rec_pub").style.display = "none";
  document.getElementById("carg_recetas").style.display = "none";
  document.getElementById("regis_admin").style.display = "none";
  document.getElementById("reacciones").style.display = "block";
}

</script>

</body>
</html>