<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>CUK - Recuperacion</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/w3.css">
  <link rel="stylesheet" href="static/w3-theme-black.css">
  <link rel="stylesheet" href="static/css.css">
  <link rel="stylesheet" href="static/font-awesome.css">
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Roboto", sans-serif;
    }

    .w3-sidebar {
      z-index: 3;
      width: 250px;
      top: 43px;
      bottom: 0;
      height: inherit;
    }
  </style>
</head>

<body>

  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-black"
        href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
      <a href="/index" class="w3-bar-item w3-button w3-theme-l1">CUK</a>
      <a href="/register" class="w3-bar-item w3-button w3-theme-l1">Registrese</a>
      <a href="/login" class="w3-bar-item w3-button w3-theme-l1">Iniciar Sesion</a>

      {% if usuario == None %}
      <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Cerrar sesión</a>
      {% endif %}
    </div>
  </div>

  <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
  <div class="w3-main" style="margin-inline:250px">

    <div class="w3-row w3-padding-64">
      <div class="w3-center w3-container">
        <div class="w3-center w3-padding-16"><a> <img src="https://i.ibb.co/xLPmkh4/Captura-de-pantalla-177.png" width="300" height="150" alt="Captura-de-pantalla-177" border="0"></a>
        <p>Mil sabores en un solo lugar</p>
      </div>
    </div>
   
    <div class="w3-center w3-container w3-card-4 w3-light-grey w3-text-black w3-margin w3-padding-16">
      <h2 class="w3-center">Recuperar Contraseña</h2>
      <div class="w3-row w3-section">
        <div class="w3-rest">
          <input class="w3-input w3-border" id="user" type="text" placeholder="Usuario">
        </div>
      </div>

      <button class="w3-button w3-black w3-center w3-text-orange">Recuperar</button>
    </div>
    </div>
    

</body>

</html>