
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>CUK - Registro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/w3.css">
        <link rel="stylesheet" href="static/w3-theme-black.css">
        <link rel="stylesheet" href="static/css.css">
        <link rel="stylesheet" href="static/font-awesome.css">
        <style>
          html,
          body,
          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            font-family: "Roboto", sans-serif;
          }
      
          .w3-sidebar {
            z-index: 3;
            width: 250px;
            top: 43px;
            bottom: 0;
            height: inherit;
          }
        </style>
<body>

    <div class="w3-main" style="margin-inline:100px">

    <div class="w3-row w3-padding-64">
    <div class="w3-top">
        <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
          <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-black"
            href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
          <a href="/index" class="w3-bar-item w3-button w3-theme-l1">CUK</a>
    
          {% if usuario == None %}
          <a href="/login" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Iniciar Sesion</a>
          {% endif %}
        </div>
      </div>

      <div class="w3-main" style="margin-inline:250px">

        <div class="w3-row w3-padding-64">
          <div class="w3-center w3-container">
            <div class="w3-center w3-padding-16"><a> <img src="https://i.ibb.co/xLPmkh4/Captura-de-pantalla-177.png" width="300" height="150" alt="Captura-de-pantalla-177" border="0"></a>
            <p>Mil sabores en un solo lugar</p>
          </div>
        </div>
       
        <div class="w3-center w3-container w3-card-4 w3-grey w3-text-black w3-margin w3-padding-16">
          <h2 class="w3-center">Crear una Cuenta</h2>
          <div class="w3-row w3-section">
            <form class="w3-container" method="POST">
              <p>
                <input class="w3-input w3-border " id="nombre" type="text" placeholder="Nombre"> 
              </p>
               <p>
                <input class="w3-input " name="apellido" type="text" placeholder="Apellido">
               </p> 
               <p>
                <input class="w3-input " name="usuario" type="text" placeholder="Nombre de Usuario">
               </p> 
               <p>
                <input class="w3-input " name="foto" type="text" placeholder="Link de fotografia">
               </p> 
               <p>
                <input class="w3-input" name="contraseña" type="text" placeholder="Contraseña"></input>
               </p> 
               <p>
                <input class="w3-input " name="confirmacion" type="text" placeholder="Confirmar Contraseña">
               </p> 
               <p>
                 <input class="w3-button w3-block w3-section w3-black w3-center w3-text-orange " type="submit" value="Registrar">
               </p>
               {% if error1 != None %}
               <div class="w3-panel w3-red">
                   <h3>¡Error!</h3>
                   <p>Usuario o Contraseña incorrectos</p>
               </div>
               {% endif %}
               </form>
          

        <div class="w3-row">
          <div class="w3-center w3-container">
              <div class="w3-section"></div>
              <div>
                  <p>¿Ya tiene una cuenta?</p>
                <button class="w3-button w3-black" onclick="location.href = 'login'">Iniciar Sesion</button>
              </div>
          </div>
        </div>
</body>

</html>